@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background: #f0f2f5;
    font-family: "Golos Text", sans-serif;
}
.container {
  width: 1400px;
  margin: 80px auto;
}
.card {
  width: 49%;
  background: #fff;
  height: 350px;
  border-radius: 15px;
  position: relative;
}
.image {
 width: 50%;
 position: absolute;
 top: 39px;
 left: 318px;
}
.name {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0px 0px 20px;
  font-family: "Montserrat", sans-serif;
}
.icon i {
  padding: 0px 5px;
}
.icon .icon_item {
  background: #dcf9f9;
  padding: 8px;
  border-radius: 13px;
}
.icon {
  display: flex;
  gap: 20px;
  padding: 28px;
}
.bottom_item ._desc {
  display: flex;
  gap: 48px;
  padding: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #91858d;
  margin-top: -30px;
}
.bottom_item ._item {
  display: flex;
  gap: 57px;
  padding: 20px;
  font-weight: 500;
  font-size: 18px;
}
.button button:hover {
  background: #1cca59;
  color: #fff;
}
.button button {
  background: #ebeff4;
  padding: 10px 15px;
  border: none;
  font-size: 17px;
  border-radius: 10px;
  margin-top: 35px;
  margin-left: 30px;
}
img {
  width: 100%;
}
.main {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}
.image img {
  width: 110%;
  height: 100%;
  padding: 32px 0px 0px;
  background: #fff;
  margin-left: -10px;
  border-radius: 0px 15px 15px 0px;
}
.tab{
  width: 1000px;
  margin: auto;
  text-align: center;
}
.tab .tab_main .tab_item{
  display: flex;
  gap: 20px;
  margin: 100px auto;
  justify-content: space-around;
  border-radius: 40px;
  border: 5px solid #E5E5E5;
padding: 6px;
}
.tab .tab_item .brs:hover{
  background: #00CC69;
  color: #fff;
}
.tab .tab_item .brs{
  font-size: 19px;

padding: 10px 15px;
text-align: center;
border-radius: 30px;
}